<section class="w-full bg-cover bg-center py-6" style="background-image: url('/ft.svg'); background-repeat: no-repeat;">
    <div class="flex flex-wrap justify-center items-center space-y-4 sm:space-y-0 sm:space-x-8">
      
      <!-- Primer elemento: Logo y Título -->
      <div class="w-full sm:w-auto text-center">
        <div class="flex items-center space-x-4 justify-center sm:justify-start">
          <h1 class="text-4xl font-bold font-rowdies text-white">Noti-Do</h1>
          <img src="/logo.svg" alt="Logo" class="w-16">
        </div>
      </div>
  
      <!-- Segundo elemento: Información de derechos reservados -->
      <div class="w-full sm:w-auto text-center">
        <p class="text-lg text-white mb-4 sm:mb-0">© 2024 Noti-Do. Todos los derechos reservados.</p>
      </div>
  
      <!-- Tercer elemento: Información de contacto (apilados en móvil) -->
      <div class="flex flex-col space-y-2 text-center">
        <a href="mailto:contacto@notido.com" class="text-white text-base hover:text-blue-500">contacto@notido.com</a>
        <a href="tel:+1234567890" class="text-white text-base mb-2 hover:text-blue-500">+123 456 7890</a>
        <a href="https://www.google.com/maps" class="text-white text-base hover:text-blue-500">Calle 123, Ciudad</a>
      </div>
      
    </div>
  </section>