
  <!-- Importación de las fuentes -->
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&family=Kalam:wght@300;400;700&family=Knewave&family=Modak&family=Protest+Revolution&family=Rowdies:wght@300;400;700&family=Shizuru&family=Special+Elite&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Knewave&family=Modak&family=Protest+Revolution&family=Rowdies:wght@300;400;700&family=Special+Elite&display=swap');
  </style>

  <style>
    /* Fuentes para los textos */
    .font-itf-wt {
      font-size: 4rem;
      font-weight: bold;
      font-family: 'Annie Use Your Telescope', sans-serif; /* Fuente para ITF y WT */
    }

    .font-vs {
      font-family: 'Kalam', cursive; /* Fuente para Vs */
    }

    /* Responsividad de los tamaños de fuente */
    @media (max-width: 767px) {
      .font-itf-wt {
        font-size: 3rem; /* Tamaño de fuente más pequeño para pantallas pequeñas */
      }

      .font-vs {
        font-size: 2rem; /* Tamaño de fuente más pequeño para pantallas pequeñas */
      }
    }

    /* Estilo para el video */
    .video-container {
      max-width: 100%;
      height: auto;
    }
  </style>
</head>
<body>
  <section class="w-full flex justify-center items-center p-8 mb-10">
    <!-- Video centrado -->
    <div class="w-full max-w-3xl aspect-video relative">
      <iframe 
        class="w-full h-full rounded-lg shadow-lg" 
        src="https://www.youtube.com/embed/MwNr_WetovE" 
        title="YouTube video" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
    </div>
  </section>
  
</body>
</html>
